services:
  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml:ro
    ports:
      - "9090:9090"
    restart: unless-stopped

# you will need to put the file 'prometheus.yml' from this repo into a directory:  /home/USER/prometheus/prometheus/prometheus.yml
